<h1 class="text-center mb-4">Welcome to my todolist app</h1>
<%= render 'layouts/task_form'  %>
<div class="container">
  <div class="tabs">
    <ul class="tab-links nav nav-tabs"> 
      <% @categories.each_with_index do  |category, index|%>
        <li class="nav-item"> <a href="#tab<%=index%>" class="nav-link"> <%= category.title  %> </a></li>
      <% end %>
    </ul>  
  </div>

  <div class="tab-content">
    <% @categories.each_with_index do  |category, index|%>
    <div class="tab container tab-pane" id="tab<%=index%>">
      <ul>
        <% category.tasks.each do |task|  %>
        <li>
          <%= task.title  %>
          <% unless task.deadline.nil? %>
            , to read: <%= task.deadline.strftime('%D')  %>
          <% end %>
        </li>
        <% end %>
      </ul>
    </div>
    <% end %>
  </div>


</div>

<div class="container">
  <div class="row">
    <% @tasks.each do |task|  %>
      <div class="card col-3">
        <% unless task.image.nil? %>
          <%= image_tag task.image, class: "rounded-circle" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">HTML</a></li>
      <li><a href="#">CSS</a></li>
      <li><a href="#">JavaScript</a></li>
    </ul>
</div>